<p><%= t('users_mailer.notification_email.hello'), @resource.email %> !</p>

<p><%= t('devise.mailer.confirmation_instructions.body') %></p>

<p><%= link_to t('devise.mailer.confirmation_instructions.link'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p><%= t('users_mailer.notification_email.salutation') %>
<br>
<br>
<%= t('users_mailer.notification_email.signature') %>
</p>
